<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="FlaskHandler" />
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\python.exe|C:\inetpub\wwwroot\umd_be_scholarsphere\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\python.exe|C:\inetpub\wwwroot\umd_be_scholarsphere\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <fastCgi>
            <application fullPath="C:\Python\python.exe" arguments="C:\inetpub\wwwroot\umd_be_scholarsphere\wfastcgi.py" maxInstances="4" idleTimeout="300" requestTimeout="90" activityTimeout="30" />
        </fastCgi>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
